{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Here is a list of all available puppies.</h1>
  <ul>
    {% for pup in puppies  %}
    <li>{{pup}}</li>
    {% endfor %}
  </ul>

</div>
<div class="jumbotron">
    <h2>Panda Statistics</h2>
<ul>
    <li><b>Puppies table</b></li>
    <ul>
         <li>Total column in puppies {{puppies_column}}.</li>
        <li>Total rows in puppies {{total_row_puppies}}.</li>
    </ul>
    <li><b>Owners table</b></li>
        <ul>
            <li>Total column in owners {{owner_column}}.</li>
            <li>Total rows in owners {{total_row_owner}}.</li>
        </ul>
    <li><b>Group by fur color</b>
        <ul>
            <li>Black {{group_by_fur[0]}}</li>
            <li>Brown {{group_by_fur[1]}}</li>
            <li>White {{group_by_fur[2]}}</li>
        </ul>
    </li>
</ul>

</div>
{% endblock %}
